/* standard uofl header */

.upperbar-set-min-height {
  min-height: 0.3125rem;
}

.search-btn-font {
  font-size: 0.75rem;
}

#uoflNavbarButton .fa.fa-chevron-down {
  font-size: 1rem;
}

#logo img {
  height: 1.875rem;
  margin: 0.625rem 0;
}

.py-0125 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.uofl-upper-nav-font {
  font-size: 0.625rem;
  letter-spacing: 0.02rem;
  margin: 0;
  padding: 0.1875rem 1rem;
  text-transform: uppercase;
}

.uofl-upper-nav-dropdown-font {
  color: #ad0000;
  font-size: 0.625rem;
  padding-left: 0.625rem;
  float: none;
  width: 100%;
  text-transform: uppercase;
}

.uofl-lower-nav-font {
  text-align: center;
  font-size: 0.6875rem;
  line-height: 150%;
}

.fa.fa-chevron-down {
  margin-top: -0.125rem;
}

.lower-bar-bg {
  border-bottom: 1px #cccccc solid;
  background-color: #f3f3f3;
}

/* Navbar */
.navbar {
  font-size: 0.625em;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: 0.05em;
  color: #202020;
}

#jsSideNav .btn-link:hover {
  color: #202020;
}

.background-image {
  background-repeat: no-repeat;
  background-position: 3% center;
  padding-left: 2.25rem;
}

.background-image-plus {
  background-image: url('../assets/img/plus.png');
}

.background-image-minus {
  background-image: url('../assets/img/minus.png');
}

.active-border-bottom {
  border-bottom: 0.1875rem solid #ad0000;
}

.css-nav-content-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 6.25rem;
}

.css-nav-photo-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 12.5rem;
  position: absolute;
  width: 100%;
  bottom: 2rem;
}

.nav-submenu-heading {
  font-size: 0.75em;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.0437em;
  color: #000000;
}

.nav-submenu-items {
  font-size: 0.5625em;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.0437em;
  color: #000000;
}

.uofl-nav-link {
  font-size: 0.625rem;
  letter-spacing: 0.05em;
}

.uofl-nav-inactive-link {
  color: #999999;
}

.uofl-navbar-row {
  padding-top: 1.625rem;
  max-width: 82.5rem;
}

.search {
  object-fit: contain;
}

/* Collapsible Search Input */

.css-search-nav-collapse:not(.show) {
  display: none;
}

.css-search-nav-collapse.show {
  visibility: visible;
  display: block;
}

.css-search-nav-collapse.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: auto;
}

.css-search-input {
  font-size: 0.625em;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 0.1rem solid black;
  width: 22em;
  text-align: center;
  padding-left: 1.875em;
}

/* Drop Down Menus */
.dropdown-menu.columns-4 {
  min-width: 60.75rem;
  height: 29rem;
  border: none;
  border-color: #ffffff;
  padding-right: 0;
  top: 10rem;
  padding-top: 1rem;
  border-radius: 0rem;
}

.menu-display {
  display: block;
}

.dropdown:hover ~ .dropdown-menu {
  display: block;
}

/* .dropdown-menu.columns-4:hover {
  display: block;
} */

.dropdown-menu li a {
  padding: 0.3125em 0.9375em;
}

.dropdown-nav-image {
  width: 15.51em;
  height: 15.51em;
  padding: 0.625em;
}

.multi-column-dropdown {
  list-style: none;
  margin: 0;
  padding-left: 0;
  font-size: 0.875em;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.0437em;
}

.multi-column-dropdown li a {
  display: block;
  clear: both;
  line-height: 1.428571429;
  color: #333;
  white-space: normal;
}

.multi-column-dropdown li a:hover {
  text-decoration: none;
  color: #262626;
  cursor: pointer;
}

.multi-column-dropdown li a.uofl-nav-inactive-link {
  display: block;
  clear: both;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
  cursor: default;
}

.multi-column-dropdown li a.uofl-nav-inactive-link:hover {
  display: block;
  clear: both;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
  cursor: default;
}

/* Blur on dropdown open */
.blur {
  background-color: #999;
  filter: blur(0.3125rem) grayscale(0%);
}

#content-blur {
  margin: -0.3125rem -0.3125rem -0.625rem -0.3125rem;
}

.no-blur-border {
  margin-left: 3.125rem;
  margin-right: 3.125rem;
}

.top-row-blur {
  margin-top: 1.5625rem;
  margin-left: 3.125rem;
  margin-right: 3.125rem;
}

.middle-row-blur {
  margin-left: 3.125rem;
  margin-right: 3.125rem;
}

/* About Us Menu*/
.wrap {
  position: relative;
}

.img-overlay {
  position: absolute;
  width: 15.51rem;
  height: 3.125rem;
  top: 12.385rem;

  text-indent: 1rem;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  background-color: rgba(255, 255, 255, 0.7);
}

.img-overlay .fnt-goth-med {
  margin-top: 0.65em;
  font-size: 0.75em;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.59;
  letter-spacing: 0.0375em;
  color: #202020;
}

/* Our Research Menu*/
.our-research-menu-title {
  width: 36.875em;
  height: 3.9375em;
  font-size: 1.125em;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: 0.0563em;
  color: #202020;
}

.our-research-items {
  min-width: 15.51rem;
  min-height: 10em;
  font-size: 0.875em;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.0437em;
  padding-top: 0.625em;
  text-indent: 1rem;
  color: #000000;
}

/* Research Database Menu */
.coming-soon-text {
  color: #999999;
  margin-bottom: 0;
}

@media (max-width: 47.9375em) {
  .dropdown-menu.multi-column {
    min-width: 15em !important;
    overflow-x: hidden;
  }
}

/* Mobile Sidebar */

.navbar-toggler .navbar-toggler-icon {
  background-image: url('../assets/img/mobile-nav-hamburger.svg');
}

.navbar-light .navbar-toggler {
  border: none;
}

.min-height-4rem {
  min-height: 4rem;
}

.sidenav {
  height: 100vh;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0.375rem;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
}

.sidenavFixed {
  width: 20rem;
}

.css-coming-soon {
  font-size: 0.75rem;
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: 0.0375rem;
  color: #ad0000;
}

.sidenav ul li {
  padding: 0.5em 0.5em 0.5em 0.625em;
  text-decoration: none;
  font-size: 1rem;
  color: #202020;
  display: block;
}

.sidenav ul section {
  padding-left: 0.625rem;
}

.sidenav ul section li {
  padding-left: 2em;
}

.side-sub-heading {
  color: #ad0000;
}

.sidenav ul li a {
  color: #202020;
}

.sidenav ul li a.uofl-nav-inactive-link {
  color: #999;
  text-decoration: none;
}

.btn-mobile-side,
.btn-mobile-side .collapsed {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.connect-text {
  white-space: pre-wrap;
}

.dropdown-toggle:after {
  content: none;
}

.mobile-nav-exp {
  padding-right: 0.5rem;
  display: flex;
}

.mobile-nav-min {
  display: none;
  padding-right: 0.5rem;
}

.mobile-sm-icon {
  height: 2.0625em;
  width: 2.0625em;
}

.sidenav-sub-list {
  padding-left: 1.75rem;
}

.sidenav .closebtn {
  position: absolute;
  top: 0.5rem;
  right: 2.25rem;
  font-size: 2.25rem;
  background-color: transparent;
  border: none;
}

#mobileSearchIcon {
  display: none;
}

.device-height {
  overflow-y: hidden;
  height: 100vh;
}

/* Media MIN 375 */

@media all and (min-width: 375px) {
  .sidenavFixed {
    width: 22rem;
  }
}

/* Media MIN 768 */

@media all and (min-width: 768px) {
  .sidenavFixed {
    top: 1.5625rem;
  }
}

/* Media MIN 992 */

@media all and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: fixed;
  }
}

/* Media MAX HEIGHT 35.9375em */

@media screen and (max-height: 35.9375em) {
  .sidenav {
    padding-top: 0.9375rem;
  }
  .sidenav a {
    font-size: 1.125rem;
  }

  #mobileSearchIcon {
    display: block;
  }

  #desktopSearchIcon {
    display: none;
  }
}
